{% load static %}

<!-- Page Footer-->
<footer class="section footer-modern novi-background bg-cover"
    data-preset="{title:Footer Modern, category:footers, id:footer-modern}">
    <div class="footer-top">
        <div class="shell-wide">
            <div class="range range-40">
                <div class="cell-sm-6 cell-lg-2">
                    <div class="about-block">
                        <h4>Быстрые ссылки</h4>
                        <div class="divider divider-3"></div>
                        <ul class="list-marked">
                            <li><a href="{% url 'about-me' %}">Обо мне</a></li>
                            <li><a href="{% url 'portrait' %}">Портрет</a></li>
                            <li><a href="{% url 'services' %}">Услуги</a></li>
                            <li><a href="{% url 'blog' %}">Блог</a></li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell-sm-6 cell-lg-3">
                    <h4>Теги</h4>
                    <div class="divider divider-3"></div>
                    <ul class="list-tags-inline big text-primary">
                        {% for tag in tags %}
                            <li><a class="tag" href="{% url 'post-tag' slug=tag.slug %}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="cell-sm-6 cell-lg-3">
                    <h4>Обо мне</h4>
                    <div class="divider divider-3"></div>
                    <p>Меня зовут Саманта Морган, и я рисую с юных лет. Нахожу вдохновение в инновационных
                        стилях современного и городского искусства, таких как граффити и иллюстрации. Я
                        твердо верю, что искусство - это глобальная форма общения.</p>
                </div>
                <div class="cell-sm-6 cell-lg-3 cell-xl-3">
                    <h4>Контакты</h4>
                    <div class="divider divider-3"></div>
                    <ul class="contact-box list-lg">
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs unit-middle">
                                <div class="unit-left">
                                    <span class="icon icon-primary mdi mdi-phone novi-icon"></span>
                                </div>
                                <div class="unit-body">
                                    <a class="hover-text" href="tel:#">1-800-1234-567</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs">
                                <div class="unit-left">
                                    <span class="icon icon-primary mdi mdi-map-marker novi-icon"></span>
                                </div>
                                <div class="unit-body">
                                    <a class="hover-text" href="#">2130 Фултон Стрит, Сан-Диего, 94117-1080 USA</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs unit-middle">
                                <div class="unit-left"><span
                                        class="icon icon-primary mdi mdi-email-outline novi-icon"></span></div>
                                <div class="unit-body"><a class="hover-text"
                                        href="mailto:#">info@demolink.org</a></div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-inline-2">
                        <li><a class="icon icon-xs icon icon-hover-gray fa-facebook novi-icon" href="#"></a></li>
                        <li><a class="icon icon-xs icon icon-hover-gray fa-twitter novi-icon" href="#"></a></li>
                        <li><a class="icon icon-xs icon icon-hover-gray fa-instagram novi-icon" href="#"></a></li>
                        <li><a class="icon icon-xs icon icon-hover-gray fa-google novi-icon" href="#"></a></li>
                        <li><a class="icon icon-xs icon icon-hover-gray fa-pinterest novi-icon" href="#"></a></li>
                        <li><a class="icon icon-xs icon icon-hover-gray fa-linkedin novi-icon" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="shell-wide">
            <div class="range range-fix">
                <div class="cell-sm-12">
                    <p class="copyright">© <span class="copyright-year">2022</span>Все права защищены.
                        <a class="hover-text" href="{% url 'terms-of-use' %}">Политика конфиденциальности</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>