{% load static %}

<div class="widget-list-item">
    <h4>Обо мне</h4>
    <div class="divider divider-5"></div>
    <p>Меня зовут Саманта Морган, и я рисую с юных лет. Нахожу вдохновение в инновационных
        стилях современного и городского искусства, таких как граффити и иллюстрации.&nbsp;Я
        твердо верю, что искусство - это глобальная форма общения. Оно обучает, заставляет
        двигаться вперед, доставляет удовольствие и вдохновляет. Искусство может влиять на
        эмоции, а человек - на других словами или действиями. Помимо живописи, я также
        делюсь своими навыками и знаниями с начинающими художниками на своих курсах
        живописи.</p>
    <p><a href="{% url 'about-me' %}">Читать дальше...</a></p>
</div>