<div class="widget-list-item">
    <h4>Архив</h4>
    <div class="divider divider-5"></div>
    <ul class="list-marked list-2-colums">
        <li><a href="#">Март 2018</a></li>
        <li><a href="#">Апрель 2018</a></li>
        <li><a href="#">Май 2018</a></li>
        <li><a href="#">Июнь 2018</a></li>
        <li><a href="#">Июль 2018</a></li>
        <li><a href="#">Август 2018</a></li>
        <li><a href="#">Сентябрь 2018</a></li>
        <li><a href="#">Октябрь 2018</a></li>
        <li><a href="#">Ноябрь 2018</a></li>
        <li><a href="#">Декабрь 2018</a></li>
    </ul>
</div>