{% load static %}

<div id="sidebar_gallery" class="widget-list-item">
    <h4>Галерея</h4>
    <div class="divider divider-5"></div>
    <ul class="aside-gallery" data-lightgallery="group">
        {% for item in gallery_items %}
        <li>
            <a class="aside-gallery-item" data-lightgallery="item"
               href="{{ item.image.url }}">
                {% if item.alt == None %}
                    <img src="{{ item.thumbnail.url }}" alt="" width="160" height="160">
                {% else %}
                    <img src="{{ item.thumbnail.url }}" alt="{{ item.alt }}" width="160" height="160">
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>