{% load static %}

<div class="widget-list-item">
    <h4>Галерея</h4>
    <div class="divider divider-5"></div>
    <ul class="aside-gallery" data-lightgallery="group">
        <li>
            <a class="aside-gallery-item" data-lightgallery="item"
               href="{% static 'images/originals/gallery-image-original-1.jpg' %}">
                <img src="{% static 'images/aside-gallery-1-160x160.jpg' %}" alt="" width="160" height="160">
            </a>
        </li>
        <li>
            <a class="aside-gallery-item" data-lightgallery="item"
               href="{% static 'images/originals/gallery-image-original-2.jpg' %}">
                <img src="{% static 'images/aside-gallery-2-160x160.jpg' %}" alt="" width="160" height="160">
            </a>
        </li>
        <li>
            <a class="aside-gallery-item" data-lightgallery="item"
               href="{% static 'images/originals/gallery-image-original-3.jpg' %}">
                <img src="{% static 'images/aside-gallery-3-160x160.jpg' %}" alt="" width="160" height="160">
            </a>
        </li>
        <li>
            <a class="aside-gallery-item" data-lightgallery="item"
               href="{% static 'images/originals/gallery-image-original-4.jpg' %}">
                <img src="{% static 'images/aside-gallery-4-160x160.jpg' %}" alt="" width="160" height="160">
            </a>
        </li>
        <li>
            <a class="aside-gallery-item" data-lightgallery="item"
               href="{% static 'images/originals/gallery-image-original-5.jpg' %}">
                <img src="{% static 'images/aside-gallery-5-160x160.jpg' %}" alt="" width="160" height="160">
            </a>
        </li>
        <li>
            <a class="aside-gallery-item" data-lightgallery="item"
               href="{% static 'images/originals/gallery-image-original-6.jpg' %}">
                <img src="{% static 'images/aside-gallery-6-160x160.jpg' %}" alt="" width="160" height="160">
            </a>
        </li>
    </ul>
</div>