{% extends 'base.html' %}
{% load static %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<section class="section"
    data-preset="{title:Breadcrumbs Classic, category:breadcrumbs, id:breadcrumbs-classic}">
    <div class="shell-wide">
        <div class="bg-dark-overlay section-bredcrumbs custom-bg-image novi-background
        bg-image-breadcrumbs-1">
            <div class="breadcrumb-wrapper">
                <h1 class="title">Обо мне</h1>
                <ol class="breadcrumbs-custom">
                    <li><a href="/">Главная</a></li>
                    <li>Обо мне</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-white novi-background bg-cover"
    data-preset="{title: A Few Words About Me 2, category: about, id: a-few-words-about-me-2}">
    <div class="shell-wide text-center">
        <div class="range range-40 range-center text-lg-left">
            <div class="cell-sm-10 cell-md-8 cell-lg-6 cell-xl-postfix-1">
                <div class="video-frame video-frame-16by9">
                    <iframe class="video-item" src="https://www.youtube.com/embed/LN820hIQ17Q"
                        allowfullscreen="">
                    </iframe>
                </div>
            </div>
            <div class="cell-sm-10 cell-lg-6 cell-xl-5">
                <h3>Несколько слов обо мне</h3>
                <p class="big-heading">Меня зовут Саманта Морган, и я рисую с юных лет.
                    Нахожу вдохновение в инновационных стилях современного и городского искусства,
                    таких как граффити и иллюстрации.
                </p>
                <p>Я твердо верю, что искусство - это глобальная форма общения. Оно обучает,
                    заставляет двигаться вперед, доставляет удовольствие и вдохновляет. Искусство
                    может влиять на эмоции, а человек - на других словами или действиями. Помимо
                    живописи, я также делюсь своими навыками и знаниями с начинающими художниками
                    на своих курсах живописи.</p>
                <a class="button button-primary" href="{% url 'services' %}">
                    <span>Смотреть все услуги</span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="divider divider-2"></div>
<section class="section section-lg bg-white novi-background bg-cover"
    data-preset="{title: My Awards, category: info, id: my-awards}">
    <div class="shell-wide text-center">
        <div class="title-block">
            <div class="range range-center range-fix">
                <div class="cell-sm-8 cell-md-6">
                    <h3>Мои награды</h3>
                    <p>Как художник я была награждена знаками отличия за уникальный подход
                        в создании картин разных жанров, от пейзажа до натюрморта.</p>
                </div>
            </div>
        </div>
        <div class="range range-40 range-center">
            <div class="cell-sm-6 cell-md-3">
                <div class="counter-wrap">
                    <div class="icon icon-md icon-default novi-icon mdi mdi-star-circle"></div>
                    <div class="heading-2 counter-title">
                        <span class="counter" data-step="3000">3</span>
                    </div>
                    <h4 class="counter-subtitle">Награды за портретную живопись</h4>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="counter-wrap">
                    <div class="icon icon-md icon-default novi-icon mdi mdi-trophy-outline"></div>
                    <div class="heading-2 counter-title">
                        <span class="counter" data-step="3000">9</span>
                    </div>
                    <h4 class="counter-subtitle">Наград за пейзажную живопись</h4>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="counter-wrap">
                    <div class="icon icon-md icon-default novi-icon mdi mdi-certificate"></div>
                    <div class="heading-2 counter-title">
                        <span class="counter" data-step="3000">4</span>
                    </div>
                    <h4 class="counter-subtitle">Награды за натюрморты</h4>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="counter-wrap">
                    <div class="icon icon-md icon-default novi-icon mdi mdi-diamond"></div>
                    <div class="heading-2 counter-title">
                        <span class="counter" data-step="3000">5</span>
                    </div>
                    <h4 class="counter-subtitle">Наград за городскую живопись</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bounding-fix">
    <div class="range range-center range-condensed">
        <div class="cell-xs-6 cell-md-3 cell-flex bounding-fix">
            <div class="thumbnail-1">
                <div class="media-wrapper">
                    <a href="#">
                        <img src="{% static 'images/about-1-480x480.jpg' %}" alt="" width="480"
                            height="480">
                    </a>
                    <ul class="social-block">
                        <li><a class="icon novi-icon fa fa-facebook" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-twitter" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-instagram" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-linkedin" href="#"></a></li>
                    </ul>
                </div>
                <div class="caption">
                    <h4 class="title"><a href="#">Дмитрий Кадышев</a></h4>
                    <p class="position">Бизнесмен, художник</p>
                </div>
            </div>
        </div>
        <div class="cell-xs-6 cell-md-3 cell-flex bounding-fix">
            <div class="thumbnail-1">
                <div class="media-wrapper">
                    <a href="#">
                        <img src="{% static 'images/about-2-480x480.jpg' %}" alt="" width="480"
                            height="480">
                    </a>
                    <ul class="social-block">
                        <li><a class="icon novi-icon fa fa-facebook" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-twitter" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-instagram" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-linkedin" href="#"></a></li>
                    </ul>
                </div>
                <div class="caption">
                    <h4 class="title">
                        <a href="#">Ян Еремейчик</a>
                    </h4>
                    <p class="position">Промоутер, начинающий художник</p>
                </div>
            </div>
        </div>
        <div class="cell-xs-6 cell-md-3 cell-flex bounding-fix">
            <div class="thumbnail-1">
                <div class="media-wrapper">
                    <a href="#">
                        <img src="{% static 'images/about-3-480x480.jpg' %}" alt="" width="480"
                            height="480">
                    </a>
                    <ul class="social-block">
                        <li><a class="icon novi-icon fa fa-facebook" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-twitter" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-instagram" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-linkedin" href="#"></a></li>
                    </ul>
                </div>
                <div class="caption">
                    <h4 class="title"><a href="#">Олег Корнев</a></h4>
                    <p class="position">Дизайнер, художник</p>
                </div>
            </div>
        </div>
        <div class="cell-xs-6 cell-md-3 cell-flex bounding-fix">
            <div class="thumbnail-1">
                <div class="media-wrapper">
                    <a href="#">
                        <img src="{% static 'images/about-4-480x480.jpg' %}" alt="" width="480"
                            height="480">
                    </a>
                    <ul class="social-block">
                        <li><a class="icon novi-icon fa fa-facebook" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-twitter" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-instagram" href="#"></a></li>
                        <li><a class="icon novi-icon fa fa-linkedin" href="#"></a></li>
                    </ul>
                </div>
                <div class="caption">
                    <h4 class="title"><a href="#">Лариса Юдина</a></h4>
                    <p class="position">Модель, художник</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-white novi-background bg-cover"
    data-preset="{title: Testimonials Creative, category: testimonials, id: testimonials-creative}">
    <div class="shell-wide text-center">
        <div class="title-block-1">
            <h3>Мои клиенты</h3>
        </div>
        <div class="range range-center text-md-left range-fix">
            <div class="cell-sm-10 cell-md-12">
                <div class="owl-carousel" data-items="1" data-sm-items="1" data-md-items="3"
                     data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="15"
                     data-loop="false" data-margin="30" data-mouse-drag="false">
                    {% for client in my_clients %}
                    <div class="owl-item">
                        <div class="thumbnail-5">
                            <div class="unit unit-spacing-sm unit-md-horizontal">
                                <div class="unit-left media-wrapper">
                                    <a>
                                        <img src="{{ client.photo.url }}"
                                            alt="" width="120" height="120">
                                    </a>
                                </div>
                                <div class="unit-body caption">
                                    <h4 class="title">
                                        <a>{{ client.name }}</a>
                                    </h4>
                                    <p class="position">{{ client.working_position }}</p>
                                    <ul class="list-inline-1">
                                        <li><a class="icon fa-facebook novi-icon"
                                               href="{{ client.facebook }}"></a></li>
                                        <li><a class="icon fa-twitter novi-icon"
                                               href="{{ client.twitter }}"></a></li>
                                        <li><a class="icon fa-instagram novi-icon"
                                               href="{{ client.instagram }}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="exeption">{{ client.comment }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}