{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<section
  class="section custom-bg-image novi-background one-screen-page bg-construct-image-1 context-dark bg-dark-overlay"
  data-preset="{&quot;title&quot;:&quot;Promo&quot;,&quot;category&quot;:&quot;about&quot;,&quot;id&quot;:&quot;promo&quot;}">
  <div class="one-screen-page-inner one-screen-page-inner-middle">
    <div class="shell"><a href="./"> <img src="{% static 'images/brand-big-248x36.png' %}" alt="" width="248" height="36"> </a>
    </div>
  </div>
</section>
<section class="section novi-background bg-cover section-lg bg-white wow fadeIn"
  data-preset="{&quot;title&quot;:&quot;A Few Words About Me&quot;,&quot;category&quot;:&quot;about&quot;,&quot;id&quot;:&quot;a-few-words-about-me&quot;}">
  <div class="shell text-center text-md-left">
    <div class="range range-30 range-center range-fix">
      <div class="cell-sm-10 cell-md-6 wow fadeInUpSmall">
        <h3>Несколько слов обо мне</h3>
        <p>Меня зовут Саманта Морган, и я рисую с юных лет. Нахожу вдохновение в инновационных стилях современного и
          городского искусства, таких как граффити и&nbsp;иллюстрации. Я твердо верю, что искусство - это глобальная
          форма общения.</p><a class="button button-primary-outline" href="{% url 'about-me' %}"><span>Узнать
            больше</span></a>
      </div>
      <div class="cell-sm-10 cell-md-6 cell-lg-5 cell-lg-preffix-1 item-image wow fadeInUpSmall"
        data-wow-delay=".2s">
        <div class="item-image-wrap"><img src="{% static 'portfolio/images/home-3-1-500x325.jpg' %}" alt="" width="500" height="325"></div>
      </div>
    </div>
  </div>
</section>
<section id="my-work" class="section section-lg bg-gray-light novi-background bg-cover"
  data-preset="{&quot;title&quot;:&quot;My Paintings&quot;,&quot;category&quot;:&quot;about&quot;,&quot;id&quot;:&quot;my-paintings&quot;}">
  <div class="shell text-center">
    <div class="title-block-1">
      <h3>Мои работы</h3>
    </div>

    <div class="range range-30 range-center text-left range-fix">
      <div id="my-work-1-column" class="cell-xs-11 cell-sm-4 wow fadeInUpSmall project-wrapper">
        {% for my_work_1 in my_works_1 %}
        <div class="project post-shadow bounding-fix">
            <a class="img-mobile-height" href="{% url 'portrait' %}">
                <img src="{{ my_work_1.picture.url }}" alt="" width="370" height="280">
            </a>
          <div class="caption">
            <h4 class="project-title">
                <a class="heading-link" href="{% url 'portrait' %}">{{ my_work_1.title }}</a>
            </h4>
            <p class="project-exeption">{{ my_work_1.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="my-work-2-column" class="cell-xs-11 cell-sm-4 wow fadeInUpSmall project-wrapper" data-wow-delay=".2s">
        {% for my_work_2 in my_works_2 %}
        <div class="project post-shadow bounding-fix">
            <a class="img-mobile-height" href="{% url 'portrait' %}">
                <img src="{{ my_work_2.picture.url }}" alt="" width="370" height="280">
            </a>
          <div class="caption">
            <h4 class="project-title">
                <a class="heading-link" href="{% url 'portrait' %}">{{ my_work_2.title }}</a>
            </h4>
            <p class="project-exeption">{{ my_work_2.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="my-work-3-column" class="cell-xs-11 cell-sm-4 wow fadeInUpSmall project-wrapper" data-wow-delay="0.4s">
        {% for my_work_3 in my_works_3 %}
        <div class="project post-shadow bounding-fix">
            <a class="img-mobile-height" href="{% url 'portrait' %}">
                <img src="{{ my_work_3.picture.url }}" alt="" width="370" height="280">
            </a>
          <div class="caption">
            <h4 class="project-title">
                <a class="heading-link" href="{% url 'portrait' %}">{{ my_work_3.title }}</a>
            </h4>
            <p class="project-exeption">{{ my_work_3.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <a class="button button-primary" href="{% url 'services' %}"><span>Мое портфолио</span></a>
  </div>
</section>
<section class="section section-lg bg-white novi-background bg-cover"
  data-preset="{&quot;title&quot;:&quot;Services 1&quot;,&quot;category&quot;:&quot;services&quot;,&quot;id&quot;:&quot;services-1&quot;}">
  <div class="shell text-center">
    <div class="title-block">
      <div class="range range-center range-fix">
        <div class="cell-sm-10 cell-md-8">
          <h3>Услуги</h3>
          <p>Если вы ищете нестандартные работы, которые украсят ваш дом или офис, рассмотрите возможность
            бронирования одной или нескольких моих услуг. Картины добавят больше цветов и эмоций в вашу повседневную
            жизнь.</p>
        </div>
      </div>
    </div>
    <div class="range range-30 range-center">
      <div class="cell-sm-6 cell-md-3 wow fadeInUpSmall">
        <div class="blurb-boxed">
          <div class="blurb-inner">
            <div class="icon novi-icon mdi mdi-account"></div>
            <h4 class="blurb-title"><a href="{% url 'portrait' %}">Портрет</a></h4>
            <p class="blurb-content">Портреты на заказ.</p>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-md-3 wow fadeInUpSmall" data-wow-delay=".2s">
        <div class="blurb-boxed">
          <div class="blurb-inner">
            <div class="icon novi-icon mdi mdi-flower"></div>
            <h4 class="blurb-title"><a href="#">Пейзаж</a></h4>
            <p class="blurb-content">Создание захватывающих пейзажных картин.</p>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-md-3 wow fadeInUpSmall" data-wow-delay=".3s">
        <div class="blurb-boxed">
          <div class="blurb-inner">
            <div class="icon novi-icon mdi mdi-food-apple"></div>
            <h4 class="blurb-title"><a href="#">Натюрморт</a></h4>
            <p class="blurb-content">Новый взгляд на обычные предметы из вашей повседневной жизни.</p>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-md-3 wow fadeInUpSmall" data-wow-delay=".4s">
        <div class="blurb-boxed">
          <div class="blurb-inner">
            <div class="icon novi-icon mdi mdi-city"></div>
            <h4 class="blurb-title"><a href="#">Урбан</a></h4>
            <p class="blurb-content">Изображение городской&nbsp;жизни людей.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="button button-primary" href="{% url 'services' %}"><span>Смотреть все услуги</span></a>
  </div>
</section>
<section class="section novi-background bg-cover section-lg bg-gray-light"
  data-preset="{&quot;title&quot;:&quot;Latest Blog Posts&quot;,&quot;category&quot;:&quot;blog&quot;,&quot;id&quot;:&quot;latest-blog-posts&quot;}">
  <div class="shell text-center">
    <div class="title-block">
      <h3>Новые посты в блоге</h3>
    </div>
    <div class="range range-30 range-center text-left">

        {% for post in posts %}
            <div class="cell-sm-6 cell-flex">
                {% if post.background_image %}
                    <article class="post-grid custom-bg-image" style="background-image: url({{ post.background_image.url }});">
                {% else %}
                    <article class="post-grid custom-bg-image" style="background-image: url({% static 'blog/images/default_background_post.png' %});">
                {% endif %}
                    <div class="post-item">
                        <div class="post-author">
                            <a class="author-media" href="{% url 'search-author' %}?author={{ post.author }}">
                                {% for user in users %}
                                    {% if user.username|lower == post.author|lower %}
                                        {% if user.avatar %}
                                            <img src="{{ user.avatar.url }}" alt="" width="50" >
                                        {% else %}
                                            <img src="{% static 'users/images/default_avatar.jpg' %}" alt="" width="50" >
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </a>
                            <a class="author-name">{{ post.author }}</a>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="content">
                            <div class="time">
                                <time>{{ post.creation_time }}</time>
                            </div>
                            <h4 class="post-title">
                                <a href="{% url 'single-post' slug=post.slug %}">{{ post.title }}</a>
                            </h4>
                            <div class="post-exeption">
                                <p>{{ post.description|truncatewords_html:20|safe }}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}

    </div>
    <a class="button button-primary-outline" href="{% url 'blog' %}"><span>Смотреть все посты в блоге</span></a>
  </div>
</section>
{% endblock %}

{% block include_js %}
    <script src="{% static 'portfolio/js/hide.js' %}"></script>
{% endblock %}