{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<section
  class="section custom-bg-image novi-background one-screen-page bg-construct-image-1 context-dark bg-dark-overlay"
  data-preset="{&quot;title&quot;:&quot;Promo&quot;,&quot;category&quot;:&quot;about&quot;,&quot;id&quot;:&quot;promo&quot;}">
  <div class="one-screen-page-inner one-screen-page-inner-middle">
    <div class="shell"><a href="./"> <img src="{% static 'images/brand-big-248x36.png' %}" alt="" width="248" height="36"> </a>
    </div>
  </div>
</section>
<section class="section novi-background bg-cover section-lg bg-white wow fadeIn"
  data-preset="{&quot;title&quot;:&quot;A Few Words About Me&quot;,&quot;category&quot;:&quot;about&quot;,&quot;id&quot;:&quot;a-few-words-about-me&quot;}">
  <div class="shell text-center text-md-left">
    <div class="range range-30 range-center range-fix">
      <div class="cell-sm-10 cell-md-6 wow fadeInUpSmall">
        <h3>Несколько слов обо мне</h3>
        <p>Меня зовут Саманта Морган, и я рисую с юных лет. Нахожу вдохновение в инновационных стилях современного и
          городского искусства, таких как граффити и&nbsp;иллюстрации. Я твердо верю, что искусство - это глобальная
          форма общения.</p><a class="button button-primary-outline" href="{% url 'about-me' %}"><span>Узнать
            больше</span></a>
      </div>
      <div class="cell-sm-10 cell-md-6 cell-lg-5 cell-lg-preffix-1 item-image wow fadeInUpSmall"
        data-wow-delay=".2s">
        <div class="item-image-wrap"><img src="{% static 'portfolio/images/home-3-1-500x325.jpg' %}" alt="" width="500" height="325"></div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg bg-gray-light novi-background bg-cover"
  data-preset="{&quot;title&quot;:&quot;My Paintings&quot;,&quot;category&quot;:&quot;about&quot;,&quot;id&quot;:&quot;my-paintings&quot;}">
  <div class="shell text-center">
    <div class="title-block-1">
      <h3>Мои работы</h3>
    </div>

    <div class="range range-30 range-center text-left range-fix">
      <div class="cell-xs-11 cell-sm-4 wow fadeInUpSmall project-wrapper">
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-1-370x510.jpg' %}" alt="" width="370" height="510"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="{% url 'portrait' %}">Шторм</a></h4>
            <p class="project-exeption">Это&nbsp;одна из моих последних работ на морскую и океанскую тематику.</p>
          </div>
        </div>
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-2-370x280.jpg' %}" alt="" width="370" height="280"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="{% url 'portrait' %}">Акварельный
                портрет</a></h4>
            <p class="project-exeption">Джейн Уильямс, моя подруга и коллега, попросила написать ее портрет.</p>
          </div>
        </div>
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-3-370x460.jpg' %}" alt="" width="370" height="460"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="{% url 'portrait' %}">Акварельный
                пейзаж</a></h4>
            <p class="project-exeption">В прошлом году&nbsp;на Ибице мною написан этот удивительный морской
              пейзаж.</p>
          </div>
        </div>
      </div>
      <div class="cell-xs-11 cell-sm-4 wow fadeInUpSmall project-wrapper" data-wow-delay=".2s">
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-4-370x430.jpg' %}" alt="" width="370" height="430"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="portrait.html">Руины древней
                крепости</a></h4>
            <p class="project-exeption">Эта картина написана в Шотландии за один день.</p>
          </div>
        </div>
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-5-370x420.jpg' %}" alt="" width="370" height="420"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="{% url 'portrait' %}">Березы
                осенью</a></h4>
            <p class="project-exeption">Я люблю рисовать осенние деревья, и эта работа - прекрасный пример.</p>
          </div>
        </div>
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-6-370x370.jpg' %}" alt="" width="370" height="370"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="{% url 'portrait' %}">Весенний
                портрет</a></h4>
            <p class="project-exeption">Этот портрет - заказ от одного из моих итальянских друзей.</p>
          </div>
        </div>
      </div>
      <div class="cell-xs-11 cell-sm-4 wow fadeInUpSmall project-wrapper" data-wow-delay="0.4s">
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-7-370x370.jpg' %}" alt="" width="370" height="370"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="{% url 'portrait' %}">Любовники</a>
            </h4>
            <p class="project-exeption">Картина была написана за два дня для заказчиков из Сан-Диего, которые хотели
              чего-то особенного.</p>
          </div>
        </div>
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-8-370x320.jpg' %}" alt="" width="370" height="320"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="{% url 'portrait' %}">Зеленый
                пейзаж</a></h4>
            <p class="project-exeption">Еще одна абстрактная работа, которая была на&nbsp;выставке Morgan Paintings
              2016.</p>
          </div>
        </div>
        <div class="project post-shadow bounding-fix"><a class="img-mobile-height" href="{% url 'portrait' %}"><img
              src="{% static 'images/project-9-370x460.jpg' %}" alt="" width="370" height="460"></a>
          <div class="caption">
            <h4 class="project-title"><a class="heading-link" href="{% url 'portrait' %}">Летние цветы</a>
            </h4>
            <p class="project-exeption">Одна из моих последних работ, которая недавно была выставлена в Арт-центре
              Лос-Анджелеса.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="button button-primary" href="{% url 'services' %}"><span>Мое&nbsp;портфолио</span></a>
  </div>
</section>
<section class="section section-lg bg-white novi-background bg-cover"
  data-preset="{&quot;title&quot;:&quot;Services 1&quot;,&quot;category&quot;:&quot;services&quot;,&quot;id&quot;:&quot;services-1&quot;}">
  <div class="shell text-center">
    <div class="title-block">
      <div class="range range-center range-fix">
        <div class="cell-sm-10 cell-md-8">
          <h3>Услуги</h3>
          <p>Если вы ищете нестандартные работы, которые украсят ваш дом или офис, рассмотрите возможность
            бронирования одной или нескольких моих услуг. Картины добавят больше цветов и эмоций в вашу повседневную
            жизнь.</p>
        </div>
      </div>
    </div>
    <div class="range range-30 range-center">
      <div class="cell-sm-6 cell-md-3 wow fadeInUpSmall">
        <div class="blurb-boxed">
          <div class="blurb-inner">
            <div class="icon novi-icon mdi mdi-account"></div>
            <h4 class="blurb-title"><a href="{% url 'portrait' %}">Портрет</a></h4>
            <p class="blurb-content">Портреты на заказ.</p>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-md-3 wow fadeInUpSmall" data-wow-delay=".2s">
        <div class="blurb-boxed">
          <div class="blurb-inner">
            <div class="icon novi-icon mdi mdi-flower"></div>
            <h4 class="blurb-title"><a href="#">Пейзаж</a></h4>
            <p class="blurb-content">Создание захватывающих пейзажных картин.</p>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-md-3 wow fadeInUpSmall" data-wow-delay=".3s">
        <div class="blurb-boxed">
          <div class="blurb-inner">
            <div class="icon novi-icon mdi mdi-food-apple"></div>
            <h4 class="blurb-title"><a href="#">Натюрморт</a></h4>
            <p class="blurb-content">Новый взгляд на обычные предметы из вашей повседневной жизни.</p>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-md-3 wow fadeInUpSmall" data-wow-delay=".4s">
        <div class="blurb-boxed">
          <div class="blurb-inner">
            <div class="icon novi-icon mdi mdi-city"></div>
            <h4 class="blurb-title"><a href="#">Урбан</a></h4>
            <p class="blurb-content">Изображение городской&nbsp;жизни людей.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="button button-primary" href="{% url 'services' %}"><span>Смотреть все услуги</span></a>
  </div>
</section>
<section class="section novi-background bg-cover section-lg bg-gray-light"
  data-preset="{&quot;title&quot;:&quot;Latest Blog Posts&quot;,&quot;category&quot;:&quot;blog&quot;,&quot;id&quot;:&quot;latest-blog-posts&quot;}">
  <div class="shell text-center">
    <div class="title-block">
      <h3>Новые посты в блоге</h3>
    </div>
    <div class="range range-30 range-center text-left">

        {% for post in posts %}
            <div class="cell-sm-6 cell-flex">
                {% if post.background_image %}
                    <article class="post-grid custom-bg-image" style="background-image: url({{ post.background_image.url }});">
                {% else %}
                    <article class="post-grid custom-bg-image" style="background-image: url({% static 'blog/images/default_background_post.png' %});">
                {% endif %}
                    <div class="post-item">
                        <div class="post-author">
                            <a class="author-media" href="#">
                                {% for user in users %}
                                    {% if user.username|lower == post.author|lower %}
                                        {% if user.avatar %}
                                            <img src="{{ user.avatar.url }}" alt="" width="50" >
                                        {% else %}
                                            <img src="{% static 'users/images/default_avatar.jpg' %}" alt="" width="50" >
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </a>
                            <a class="author-name" href="#">{{ post.author }}</a>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="content">
                            <div class="time">
                                <time>{{ post.creation_time }}</time>
                            </div>
                            <h4 class="post-title">
                                <a href="{{ post.slug }}">{{ post.title }}</a>
                            </h4>
                            <div class="post-exeption">
                                <p>{{ post.description|truncatewords_html:20|safe }}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}

    </div>
    <a class="button button-primary-outline" href="{% url 'blog' %}"><span>Смотреть все посты в блоге</span></a>
  </div>
</section>
{% endblock %}