{% extends 'base.html' %}
{% load static %}

{% block title %}Услуги{% endblock %}

{% block content %}
<section class="section"
    data-preset="{&quot;title&quot;:&quot;Breadcrumbs Classic&quot;,&quot;category&quot;:&quot;breadcrumbs&quot;,&quot;id&quot;:&quot;breadcrumbs-classic&quot;}">
    <div class="shell-wide">
        <div class="bg-dark-overlay section-bredcrumbs custom-bg-image novi-background bg-image-breadcrumbs-1">
            <div class="breadcrumb-wrapper">
                <h1 class="title">Услуги</h1>
                <ol class="breadcrumbs-custom">
                    <li><a href="./">Главная</a></li>
                    <li>Услуги</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--What We Do-->
<section class="section section-lg bg-white novi-background bg-cover">
    <div class="shell-wide text-center">
        <div class="range range-40 range-center range-fix">
            <div class="cell-sm-10 cell-md-8 cell-lg-6">
                <h3>Что я умею</h3>
                <p>Если вы ищете нестандартные работы, которые украсят ваш дом или офис, рассмотрите возможность
                    бронирования одной или нескольких моих услуг. Картины добавят больше цветов и эмоций в вашу
                    повседневную жизнь.</p>
            </div>
        </div>
    </div>
</section>
<!--Portrait-->
<section class="section bounding-fix"
    data-preset="{&quot;title&quot;:&quot;Service Text Right&quot;,&quot;category&quot;:&quot;services&quot;,&quot;id&quot;:&quot;service-text-right&quot;}">
    <div class="shell-wide">
        <div class="range range-center range-condensed">
            <div class="cell-sm-10 cell-md-6 item-image">
                <div class="item-image-wrap"><img src="{% static 'images/services-1-885x537.jpg' %}" alt="" width="885"
                        height="537"></div>
            </div>
            <div class="cell-sm-10 cell-md-6">
                <div class="inset-1 bg-gray-light novi-background">
                    <h3>Портрет</h3>
                    <p>Портрет - это изображение конкретного человека. Такие картины всегда были чем-то большим,
                        чем просто полотно. Их использовали, чтобы показать силу, красоту, богатство, вкус и
                        другие&nbsp;качества, которые характеризуют человека.</p><a
                        class="button button-primary" href="portrait.html"><span>Узнать больше</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Landscape-->
<section class="section bounding-fix"
    data-preset="{&quot;title&quot;:&quot;Service Text Left&quot;,&quot;category&quot;:&quot;services&quot;,&quot;id&quot;:&quot;service-text-left&quot;}">
    <div class="shell-wide">
        <div class="range range-center range-condensed range-md-reverse">
            <div class="cell-sm-10 cell-md-6 item-image">
                <div class="item-image-wrap"><img src="{% static 'images/services-2-885x537.jpg' %}" alt="" width="885"
                        height="537"></div>
            </div>
            <div class="cell-sm-10 cell-md-6">
                <div class="inset-1 bg-gray-light novi-background">
                    <h3>Пейзаж</h3>
                    <p>Пейзажная картина — часть пространства парка, визуально выделенная из общего паркового
                        пространства.&nbsp;В отличие от картин в пейзажной живописи, парковая пейзажная картина
                        имеет трехмерное пространство и может восприниматься с разных точек.</p><a
                        class="button button-primary" href="#"><span>Узнать больше</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Still Life-->
<section class="section bounding-fix">
    <div class="shell-wide">
        <div class="range range-center range-condensed">
            <div class="cell-sm-10 cell-md-6 item-image">
                <div class="item-image-wrap"><img src="{% static 'images/services-3-885x537.jpg' %}" alt="" width="885"
                        height="537"></div>
            </div>
            <div class="cell-sm-10 cell-md-6">
                <div class="inset-1 bg-gray-light novi-background">
                    <h3>Натюрморт</h3>
                    <p> Дополняя основной мотив, в натюрморт может входить изображение людей, животных, птиц,
                        насекомых. Изображение вещей в натюрморт имеет самостоятельное художественное значение,
                        хотя в процессе развития он нередко служил выражению символического содержания, решению
                        декоративных задач.</p><a class="button button-primary" href="#"><span>Узнать
                            больше</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Soft Furnishings-->
<section class="section bounding-fix">
    <div class="shell-wide">
        <div class="range range-center range-condensed range-md-reverse">
            <div class="cell-sm-10 cell-md-6 item-image">
                <div class="item-image-wrap"><img src="{% static 'images/services-4-885x537.jpg' %}" alt="" width="885"
                        height="537"></div>
            </div>
            <div class="cell-sm-10 cell-md-6">
                <div class="inset-1 bg-gray-light novi-background">
                    <h3>Городские пейзажи</h3>
                    <p>Оживленные улицы, густонаселенные районы составляют тип пейзажей, которые обычно находят
                        люди в городских районах. Это уникальный и быстро меняющийся мир, и я могу создать для
                        вас любую картину, которая с точностью отразит городскую жизнь.</p><a
                        class="button button-primary" href="#"><span>Узнать больше</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Street Artist Services-->
<section class="section bounding-fix">
    <div class="shell-wide">
        <div class="range range-center range-condensed">
            <div class="cell-sm-10 cell-md-6 item-image">
                <div class="item-image-wrap"><img src="{% static 'images/services-5-885x537.jpg' %}" alt="" width="885"
                        height="537"></div>
            </div>
            <div class="cell-sm-10 cell-md-6">
                <div class="inset-1 bg-gray-light novi-background">
                    <h3>Услуги уличного художника</h3>
                    <p>Уличные художники всегда были важной частью городской жизни и искусства во всем мире. Я
                        также предоставляю услуги создания картин, отражающих городской стиль. Меня можно найти
                        в центре города, я пишу портреты&nbsp;и другие виды картин для моих клиентов.</p><a
                        class="button button-primary" href="street-artist-services.html"><span>Узнать
                            больше</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}