{% extends 'base.html' %}
{% load static %}

{% block title %}Услуги уличных художников{% endblock %}

{% block content %}
<section class="section"
    data-preset="{&quot;title&quot;:&quot;Breadcrumbs Classic&quot;,&quot;category&quot;:&quot;breadcrumbs&quot;,&quot;id&quot;:&quot;breadcrumbs-classic&quot;}">
    <div class="shell-wide">
        <div class="bg-dark-overlay section-bredcrumbs custom-bg-image novi-background bg-image-breadcrumbs-1">
            <div class="breadcrumb-wrapper">
                <h1 class="title">Услуги уличного художника</h1>
                <ol class="breadcrumbs-custom">
                    <li><a href="./">Главная</a></li>
                    <li><a href="services.html">Услуги</a></li>
                    <li>Услуги уличного художника&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-white novi-background bg-cover">
    <div class="shell-wide text-center">
        <div class="range range-40 range-center text-lg-left">
            <div class="cell-sm-10 cell-md-8 cell-lg-6 cell-xl-postfix-1"><img
                    src="{% static 'images/street-artist-services-1-870x600.jpg' %}" alt="" width="870" height="600"></div>
            <div class="cell-sm-10 cell-lg-6 cell-xl-4 cell-xl-postfix-1">
                <h3>Описание услуги</h3>
                <p>Уличные художники всегда были важной частью городской жизни и искусства во всем мире. Я также
                    предоставляю услуги создания картин, отражающих городской стиль. Меня можно найти в центре
                    города, я пишу портреты и другие виды картин для моих клиентов.</p>
                <p>Если вы хотите заказать картину, но у вас разбегаются глаза или вам нужен совет профессионала
                    для подбора полотен, пожалуйста, оформите заявку и я свяжусь с вами в ближайшее время, чтобы
                    помочь вам в выборе.</p>
                <p>«Оживить» помещение и привнести в него нотки индивидуальности способны не только репродукции
                    картин маслом, но и качественные&nbsp;произведения уличных художников.</p><a
                    class="button button-primary" href="contacts.html"><span>Связаться</span></a>
            </div>
        </div>
    </div>
</section>
<section class="section bounding-fix">
    <div class="divider divider-2"></div>
</section>
<section class="section section-lg bg-white novi-background bg-cover"
    data-preset="{&quot;title&quot;:&quot;What Also Offer&quot;,&quot;category&quot;:&quot;services&quot;,&quot;id&quot;:&quot;what-also-offer&quot;}">
    <div class="shell-wide text-center">
        <div class="title-block-1">
            <h3>Что еще я могу предложить</h3>
        </div>
        <div class="range range-40 range-md-60">
            <div class="cell-sm-6 cell-md-3">
                <div class="blurb-icon">
                    <div class="icon icon-lg icon-primary novi-icon mdi mdi-account"></div>
                    <h4 class="blurb-title"><a href="#">Портрет</a></h4>
                    <p class="blurb-content">Портрет был и остается одним из самых популярных жанров картин,
                        которые я создаю.</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="blurb-icon">
                    <div class="icon icon-lg icon-primary novi-icon mdi mdi-flower"></div>
                    <h4 class="blurb-title"><a href="#">Пейзаж</a></h4>
                    <p class="blurb-content">Создание захватывающих пейзажных картин с детализированными
                        элементами.</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="blurb-icon">
                    <div class="icon icon-lg icon-primary novi-icon mdi mdi-food-apple"></div>
                    <h4 class="blurb-title"><a href="#">Натюрморт</a></h4>
                    <p class="blurb-content">Натюрморты - мой любимый жанр, поскольку эти работы принесли мне
                        успех.</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="blurb-icon">
                    <div class="icon icon-lg icon-primary novi-icon mdi mdi-city"></div>
                    <h4 class="blurb-title"><a href="#">Стрит-арт</a></h4>
                    <p class="blurb-content">Я люблю создавать граффити, украшать здания своими работами и
                        экспериментировать.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bounding-fix">
    <div class="divider divider-2"></div>
</section>
<section class="section section-lg bg-white novi-background bg-cover">
    <div class="shell-wide">
        <div class="range range-50 range-center range-fix">
            <div class="cell-sm-10 cell-lg-5 cell-xl-6">
                <h4 class="text-bold">Связаться</h4>
                <form class="rd-mailform custom-wrapper text-left" data-form-output="form-output-global"
                    data-form-type="forms" method="post" action="bat/rd-mailform.php">
                    <div class="range range-xs-center range-21 range-fix">
                        <div class="cell-sm-6">
                            <div class="form-wrap form-wrap-validation"><label class="form-label rd-input-label"
                                    for="forms-name">Имя</label> <input class="form-input" id="forms-name"
                                    type="text" name="name" data-constraints="@Required"></div>
                        </div>
                        <div class="cell-sm-6">
                            <div class="form-wrap form-wrap-validation"><label class="form-label rd-input-label"
                                    for="forms-last-name">Фамилия</label> <input class="form-input"
                                    id="forms-last-name" type="text" name="last-name"
                                    data-constraints="@Required"> </div>
                        </div>
                        <div class="cell-sm-6">
                            <div class="form-wrap form-wrap-validation"><label class="form-label rd-input-label"
                                    for="forms-phone">Телефон</label> <input class="form-input" id="forms-phone"
                                    type="text" name="phone" data-constraints="@Numeric @Required"></div>
                        </div>
                        <div class="cell-sm-6">
                            <div class="form-wrap form-wrap-validation"><label class="form-label"
                                    for="forms-email">E-mail</label> <input class="form-input" id="forms-email"
                                    type="email" name="email" data-constraints="@Email @Required"></div>
                        </div>
                        <div class="cell-sm-12">
                            <div class="form-wrap form-wrap-validation"><label class="form-label rd-input-label"
                                    for="forms-message">Сообщение</label> <textarea class="form-input"
                                    id="forms-message" name="message" data-constraints="@Required"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-button"> <button class="button button-primary"
                            type="submit"><span>Отправить</span></button> </div>
                </form>
            </div>
            <div class="cell-sm-10 cell-lg-3 cell-xl-2 cell-xl-postfix-1">
                <div class="range range-center range-50 range-xl-90">
                    <div class="cell-sm-6 cell-lg-12">
                        <h4 class="text-bold">Другие услуги</h4>
                        <ul class="list-marked">
                            <li><a href="#">Пейзаж</a></li>
                            <li><a href="#">Натюрморт</a></li>
                            <li><a href="#">Городские пейзажи</a></li>
                            <li><a href="street-artist-services.html">Услуги уличного художника</a></li>
                        </ul>
                    </div>
                    <div class="cell-sm-6 cell-lg-12">
                        <h4 class="text-bold">Контактная информация</h4>
                        <ul class="contact-box list-lg">
                            <li>
                                <div class="unit unit-horizontal unit-spacing-xxs unit-middle">
                                    <div class="unit-left"><span
                                            class="icon icon-primary mdi mdi-phone novi-icon"></span></div>
                                    <div class="unit-body"><a class="hover-text" href="tel:#">1-800-1234-567</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-spacing-xxs">
                                    <div class="unit-left"><span
                                            class="icon icon-primary mdi mdi-map-marker novi-icon"></span></div>
                                    <div class="unit-body"><a class="hover-text" href="#">2130 Фултон Стрит,
                                            Сан-Диего, 94117-1080</a> </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-spacing-xxs unit-middle">
                                    <div class="unit-left"><span
                                            class="icon icon-primary mdi mdi-email-outline novi-icon"></span>
                                    </div>
                                    <div class="unit-body"><a class="hover-text"
                                            href="mailto:#">info@demolink.org</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell-sm-10 cell-lg-4 cell-xl-3">
                <h4 class="text-bold">Отзывы</h4>
                <div class="owl-carousel owl-carousel-2" data-items="1" data-dots="false" data-nav="true"
                    data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false">
                    <div class="owl-item">
                        <div class="thumbnail-6">
                            <div class="unit unit-spacing-sm unit-md-horizontal">
                                <div class="unit-left media-wrapper"><a href="#"><img
                                            src="{% static 'images/testimonials-2-120x120.jpg' %}" alt="" width="120"
                                            height="120"></a></div>
                                <div class="unit-body caption">
                                    <h5 class="title"><a href="#">Елизавета Дудкина</a></h5>
                                    <p class="position">Менеджер по продажам</p>
                                    <ul class="list-inline-1">
                                        <li><a class="icon fa-facebook novi-icon" href="#"></a></li>
                                        <li><a class="icon fa-twitter novi-icon" href="#"></a></li>
                                        <li><a class="icon fa-instagram novi-icon" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="exeption">Вы талантливый художник, который способен с глубиной и точностью
                                выражать в картинах сущность людей. Каждое из ваших произведений уникально, в
                                них проглядывается особый стиль и талант. Спасибо за прекрасно выполненный
                                портрет. Он чудесный!</p>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="thumbnail-6">
                            <div class="unit unit-spacing-sm unit-md-horizontal">
                                <div class="unit-left media-wrapper"><a href="#"><img
                                            src="{% static 'images/testimonials-1-120x120.jpg' %}" alt="" width="120"
                                            height="120"></a></div>
                                <div class="unit-body caption">
                                    <h5 class="title"><a href="#">Максим Пыров</a></h5>
                                    <p class="position">Предприниматель</p>
                                    <ul class="list-inline-1">
                                        <li><a class="icon fa-facebook novi-icon" href="#"></a></li>
                                        <li><a class="icon fa-twitter novi-icon" href="#"></a></li>
                                        <li><a class="icon fa-instagram novi-icon" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="exeption">Моей любимой понравился портрет! Вам не только удалось
                                запечатлеть мой образ, но и выразить мои чувства и мысли. Глубина вашей работы
                                действительно впечатляет. Вы лучшая, и я буду рекомендовать вас и ваши услуги
                                всем своим друзьям! Большое спасибо. </p>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="thumbnail-6">
                            <div class="unit unit-spacing-sm unit-md-horizontal">
                                <div class="unit-left media-wrapper"><a href="#"><img
                                            src="{% static 'images/testimonials-3-120x120.jpg' %}" alt="" width="120"
                                            height="120"></a></div>
                                <div class="unit-body caption">
                                    <h5 class="title"><a href="#">Виктор Катин</a></h5>
                                    <p class="position">Владелец фотостудии</p>
                                    <ul class="list-inline-1">
                                        <li><a class="icon fa-facebook novi-icon" href="#"></a></li>
                                        <li><a class="icon fa-twitter novi-icon" href="#"></a></li>
                                        <li><a class="icon fa-instagram novi-icon" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="exeption">Картина «Синее море», которую я получил от вас, замечательна во
                                всех отношениях. Сочные цвета, яркие краски, точная передача. Я влюблен в нее и
                                теперь точно знаю, что буду постоянным клиентом и буду рекомендовать вас своим
                                коллегам.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}