{% extends 'base.html' %}

{% block title %}Политика безопасности{% endblock %}

{% block content %}
<section class="section"
    data-preset="{&quot;title&quot;:&quot;Breadcrumbs Classic&quot;,&quot;category&quot;:&quot;breadcrumbs&quot;,&quot;id&quot;:&quot;breadcrumbs-classic&quot;}">
    <div class="shell-wide">
        <div class="bg-dark-overlay section-bredcrumbs custom-bg-image novi-background bg-image-breadcrumbs-1">
            <div class="breadcrumb-wrapper">
                <h1 class="title">Политика безопасности</h1>
                <ol class="breadcrumbs-custom">
                    <li><a href="./">Главная</a></li>
                    <li><a href="#">Страницы</a></li>
                    <li>Политика безопасности&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Privacy Policy-->
<section class="section section-lg bg-white novi-background bg-cover"
    data-preset="{&quot;title&quot;:&quot;Terms Of Use&quot;,&quot;category&quot;:&quot;secondary&quot;,&quot;id&quot;:&quot;terms-of-use&quot;}">
    <div class="shell-wide">
        <div class="range range-center range-fix">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
                <!-- Terms-list-->
                <dl class="list-terms list-terms-1">
                    <dt class="heading-4">Основная информация</dt>
                    <dd> Добро пожаловать на нашу страницу Политики конфиденциальности! Когда вы пользуетесь
                        услугами нашего сайта, вы доверяете нам свою информацию. Эта Политика конфиденциальности
                        призвана помочь вам понять, какие данные мы собираем, почему мы их собираем и что делаем
                        с ними. Когда вы делитесь информацией с нами, это дает нам возможность сделать свои
                        услуги еще лучше. При использовании наших услуг мы хотим, чтобы вы понимали, как мы
                        используем информацию и способы защиты вашей конфиденциальности. Помните, что вы можете
                        найти элементы для управления своей информацией и защиты вашей конфиденциальности и
                        безопасности. </dd>
                    <dt class="heading-4">Право на доступ, исправление и удаление данных и возможность обработки
                        данных</dt>
                    <dd> Наши клиенты имеют право доступа, исправления и удаления личных данных, а также
                        отказаться от обработки таких данных путем письменного обращения. Компания прилагает все
                        надлежащие меры предосторожности для обеспечения безопасности и конфиденциальности
                        личных данных, предотвращения их изменения, повреждения, уничтожения или доступа третьих
                        лиц. Однако Компания не контролирует риски, связанные с серфингом в интернете, поэтому
                        предупреждает пользователей Сайта о потенциальных рисках. Сайт может содержать ссылки на
                        другие сайты или интернет-источники. Поскольку Компания не может контролировать эти
                        сайты и внешние источники, она не может нести за это ответственности. </dd>
                    <dt class="heading-4">Управление персональными данными</dt>
                    <dd> Вы можете просматривать или редактировать свои личные данные. Получение доступа к таким
                        данным или управление ими зависит от того, какие службы вы используете. Вы можете
                        получать уведомления с нашего сайта на e-mail, по SMS, почте и телефону. Если вы
                        получаете уведомления от нас на e-mail или посредством SMS-сообщений и хотели бы
                        отказаться от них, вы всегда можете сделать это. Вы также можете выбрать способ
                        получения рекламных писем, телефонных звонков и почты, посетив и подписав контракт с
                        компанией Promotional Communications Manager, который позволяет вам обновлять контактную
                        информацию, управлять настройками контактов, отказываться от подписки по e-mail. Эти
                        варианты не применяются к обязательным службам связи, которые являются частью услуг
                        нашего сайта. </dd>
                    <dt class="heading-4">Информация, которую мы собираем</dt>
                    <dd> Наш сайт собирает данные для эффективной работы и предоставления вам лучшего опыта при
                        выборе наших услуг. Вы предоставляете некоторые из этих данных напрямую, например, при
                        создании личной учетной записи. Некоторые из них мы получаем, анализируя то, как вы
                        взаимодействуете с нашими службами, например, используя такие технологии, как куки,
                        отчеты об ошибках или данные об использовании программного обеспечения, запущенного на
                        вашем устройстве. Мы также получаем данные от третьих лиц (включая другие компании).
                        Например, мы дополняем данные, которые собираем, покупая демографические данные у других
                        компаний. Мы также используем услуги других компаний, чтобы определять местоположение на
                        основе вашего IP-адреса для настройки некоторых сервисов. Данные, которые мы собираем,
                        зависят от услуг и функций, которые вы используете. </dd>
                    <dt class="heading-4">Как мы используем вашу информацию</dt>
                    <dd> Наш сайт собирает и использует данные, преследуя три основные цели: управление нашим
                        бизнесом, предоставление (включая улучшение и персонализацию) услуг, отправление
                        сообщений, в том числе рекламных. При выполнении этих задач мы объединяем данные,
                        которые собираем через различные сервисы сайта, чтобы обеспечить более плавный,
                        последовательный и персонализированный опыт. Однако для улучшения конфиденциальности
                        существуют технологические гарантии, предотвращающие использование определенных
                        комбинаций таких данных. Например, мы храним данные, которые собираем у вас, когда вы не
                        авторизованы (не подписаны). </dd>
                    <dt class="heading-4">Обмен информацией</dt>
                    <dd> Мы используем ваши личные данные с вашего согласия или по мере необходимости для
                        завершения транзакции или предоставления какой-либо услуги, которую вы запросили.
                        Например, с вашего согласия мы можем передавать ваши данные третьим лицам. Когда вы
                        предоставляете платежные данные для совершения покупки, мы будем делиться ними с банками
                        и другими организациями, которые обрабатывают платежи или предоставляют другие
                        финансовые услуги, а также для предотвращения мошенничества и снижения кредитного риска.
                        Кроме того, мы передаем личные данные контролируемым филиалам и дочерним компаниям.
                        Также мы передаем личные данные поставщикам или агентам, работающим от нашего имени.
                        Например, компаниям, которые мы наняли, для поддержки клиентов. В таких случаях эти
                        компании должны соблюдать наши требования к конфиденциальности и безопасности данных и
                        не могут использовать личную информацию, которую они получают от нас, для каких-либо
                        других целей. Мы также можем раскрывать личные данные в рамках корпоративных изменений,
                        таких как слияние или продажа активов. </dd>
                    <dt></dt>
                    <dd><a class="email" href="mailto:#">privacy@demolink.org</a></dd>
                </dl>
            </div>
        </div>
    </div>
</section>
{% endblock %}