{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="section"
    data-preset="{&quot;title&quot;:&quot;Breadcrumbs Classic&quot;,&quot;category&quot;:&quot;breadcrumbs&quot;,&quot;id&quot;:&quot;breadcrumbs-classic&quot;}">
    <div class="shell-wide">
        <div class="bg-dark-overlay section-bredcrumbs custom-bg-image novi-background bg-image-breadcrumbs-1">
            <div class="breadcrumb-wrapper">
                <h1 class="title">Блог</h1>
                <ol class="breadcrumbs-custom">
                    <li><a href="./">Главная</a></li>
                    <li><a href="#">Блог</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-white novi-background bg-cover"
    data-preset="{&quot;title&quot;:&quot;Grid Blog&quot;,&quot;category&quot;:&quot;blog&quot;,&quot;id&quot;:&quot;grid-blog&quot;}">
    <div class="shell shell-wide">
        <div class="range range-40 range-center range-fix">
            <div class="cell-sm-10 cell-md-8">
                <div id="posts" class="range range-30">

                    {% for post in posts %}
                    <div class="cell-sm-6 cell-flex">
                        {% if post.background_image %}
                            <article class="post-grid custom-bg-image"
                                     style="background-image: url({{ post.background_image.url }});">
                        {% else %}
                            <article class="post-grid custom-bg-image"
                                     style="background-image: url({% static 'blog/images/default_background_post.png' %});">
                        {% endif %}
                            <div class="post-item">
                                <div class="post-author">
                                    <a class="author-media" href="{% url 'search-author' %}?author={{ post.author }}">
                                        {% for user in users %}
                                            {% if user.username|lower == post.author|lower %}
                                                {% if user.avatar %}
                                                    <img src="{{ user.avatar.url }}" alt="" width="50" >
                                                {% else %}
                                                    <img src="{% static 'users/images/default_avatar.jpg' %}" alt="" width="50" >
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                    <a class="author-name">{{ post.author }}</a>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="content">
                                    <div class="time">
                                        <time>{{ post.creation_time }}</time>
                                    </div>
                                    <h4 class="post-title">
                                        <a href="{% url 'single-post' post.slug %}">{{ post.title }}</a>
                                    </h4>
                                    <div class="post-exeption">
                                        <p>{{ post.description|striptags|truncatewords:20|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% empty %}
                    <p class="text-center" style="width: 100%;">По вашему запросу ничего не найдено...</p>
                    {% endfor %}

                </div>
                <div id="posts-bottom-button" class="post-bottom text-center">
                    <button id="show_more_posts" class="button button-primary-outline button-icon button-icon-left">
                        <span>
                            <span class="icon mdi mdi-refresh"></span>
                            Больше публикаций
                        </span>
                    </button>
                </div>
            </div>

            <div class="cell-sm-10 cell-md-4">
                <div class="widget-list">
                    {% get_search %}
                    {% get_category %}
                    {% get_tag %}
                    {% get_archive previous_years=3 %}
                    {% get_gallery %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block include_js %}
    <script src="{% static 'blog/js/ajax.js' %}"></script>
    <script src="{% static 'blog/js/sidebar.js' %}"></script>
    <script type="text/javascript">
        let start_posts_number = {{ start_posts_number }};
        let blog_url = '{% url 'blog' %}';
        let search_url = '{% url 'search' %}';
        let search_author_url = '{% url 'search-author' %}';
        let archive_url = '{% url 'archive' %}';
        let is_category_page = Boolean('{{ category_slug }}');
        let post_slug_url = '{% url 'single-post' 'ajax_hoOJmiSf9N' %}';
        let background_post_default_url = '{% static 'blog/images/default_background_post.png' %}';
        let user_avatar_default_url = '{% static 'users/images/default_avatar.jpg' %}';
        let media_prefix = '{% get_media_prefix %}';
    </script>
{% endblock %}