{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="section"
    data-preset="{&quot;title&quot;:&quot;Breadcrumbs Classic&quot;,&quot;category&quot;:&quot;breadcrumbs&quot;,&quot;id&quot;:&quot;breadcrumbs-classic&quot;}">
    <div class="shell-wide">
        <div class="bg-dark-overlay section-bredcrumbs custom-bg-image novi-background bg-image-breadcrumbs-1">
            <div class="breadcrumb-wrapper">
                <h1 class="title">Блог</h1>
                <ol class="breadcrumbs-custom">
                    <li><a href="./">Главная</a></li>
                    <li><a href="#">Блог</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-white novi-background bg-cover"
    data-preset="{&quot;title&quot;:&quot;Grid Blog&quot;,&quot;category&quot;:&quot;blog&quot;,&quot;id&quot;:&quot;grid-blog&quot;}">
    <div class="shell shell-wide">
        <div class="range range-40 range-center range-fix">
            <div class="cell-sm-10 cell-md-8">
                <div class="range range-30">

                    {% for post in posts %}
                    <div class="cell-sm-6 cell-flex">
                        <article class="post-grid custom-bg-image"
                            style="background-image: url({{ post.background_image.url }});">
                            <div class="post-item">
                                <div class="post-author">
                                    <a class="author-media" href="#">
                                        {% for user in users %}
{#                                            {% if user.avatar|lower == '' %}#}
{#                                                <img src="\media\users\avatar\default_avatar.jpg" alt="" width="50" ></a>#}
                                            {% if user.username|lower == post.author|lower %}
                                                <img src="{{ user.avatar.url }}" alt="" width="50" ></a>
                                            {% endif %}
                                        {% endfor %}
                                    <a class="author-name" href="#">{{ post.author }}</a>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="content">
                                    <div class="time">
                                        <time>{{ post.post_time }}</time>
                                    </div>
                                    <h4 class="post-title">
                                        <a href="{{ post.slug }}">{{ post.title }}</a>
                                    </h4>
                                    <div class="post-exeption">
                                        <p>{{ post.description|truncatewords_html:20|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% empty %}
                    <p class="text-center" style="width: 100%;">По вашему запросу ничего не найдено...</p>
                    {% endfor %}

                </div>
                <div class="post-bottom text-center">
                    <button id="show_more_posts" class="button button-primary-outline button-icon button-icon-left">
                        <span>
                            <span class="icon mdi mdi-refresh"></span>
                            Больше публикаций
                        </span>
                    </button>
                </div>
            </div>

            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script>let start_posts_number = {{ start_posts_number }};</script>

            <div class="cell-sm-10 cell-md-4">
                <div class="widget-list">
                    {% get_search %}
                    {% get_archive %}
                    {% get_gallery %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}