{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}Болг пост{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251">
    </script>
{% endblock %}

{% block content %}
<section class="section">
    <div class="shell-wide">
        <div
            class="section-bredcrumbs section-bredcrumbs-2 custom-bg-image bg-cover
            bg-image-breadcrumbs-2 bg-dark-overlay">
            <div class="breadcrumb-wrapper">
                <div class="range range-center range-fix">
                    <div class="cell-sm-10 cell-md-12 cell-lg-10 cell-xl-9">
                        <p class="date">{{ post.creation_time }}</p>
                        <h2 class="title">{{ post.title }}</h2>
                        <ol class="breadcrumbs-custom">
                            <li><a href="./">Главная</a></li>
                            <li><a href="classic-blog.html">Блог</a></li>
                            <li>Публикация</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-white novi-background bg-cover novi-background bg-cover"
    data-preset="{title: Single Post Section, category: blog, id: single-post-section}">
    <div class="shell shell-wide">
        <div class="range range-40 range-center range-fix">
            <div class="cell-sm-10 cell-md-8 cell-lg-6 cell-lg-preffix-1 cell-lg-postfix-1">
                <article class="single-post post-section-wrapper">
                    <div class="post-section">
                        {{ post.description|safe }}
                        <ul class="list-inline-2">
                            <li>Поделиться публикацией:</li>
                            <li>
                                <script type="text/javascript">
                                  document.write(VK.Share.button({
                                      title: "{{ post.title }}",
                                      image: "{{ request.scheme }}://{{ request.get_host }}{{ post.background_image.url }}"
                                  }, {
                                      type: "custom",
                                      text: "<span class='icon icon-xs icon-hover-gray " +
                                          "fa-vk novi-icon'></span>"}));
                                </script>
                            </li>
                            <li><a class="icon icon-xs icon-hover-gray fa-facebook novi-icon"
                                   href="#"></a></li>
                            <li><a class="icon icon-xs icon-hover-gray fa-twitter novi-icon"
                                   href="#"></a></li>
                        </ul>
                    </div>
                    <div class="post-section">
                        <h4>Автор</h4>
                        <div class="divider divider-5"></div>
                        <div class="post-author unit unit-spacing-md unit-sm-horizontal">
                            <div class="unit-left">
                                <img src="{% static 'images/single-post-author-150x150.jpg' %}"
                                     alt="" width="150" height="150"> </div>
                            <div class="unit-body">
                                <h5><a class="heading-link" href="#">Светлана Мельникова</a></h5>
                                <p class="position">Художник, блогер</p>
                                <p>Я профессиональный блогер, интересующийся всем, что происходит в
                                    киберпространстве. Стараюсь сделать этот сайт лучшим местом для
                                    посещения пользователями. Публикую только те статьи, которые
                                    имеют отношение к тематике сайта и анализирую комментарии всех
                                    посетителей, чтобы удовлетворить их потребности.</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-section">
                        <h4>Комментарии</h4>
                        <div class="divider divider-5"></div>
                        <ul class="comment-list">
                            <li>
                                <div class="box-comment">
                                    <div class="box-comment-image">
                                        <img src="{% static 'images/box-comment-1-80x80.jpg' %}"
                                            alt="" width="80" height="80"></div>
                                    <div class="box-comment-body">
                                        <ul class="list-inline-3">
                                            <li>
                                                <h5>
                                                    <a class="heading-link" href="#">
                                                        Игорь Сыров
                                                    </a>
                                                </h5>
                                            </li>
                                            <li class="comment-meta">
                                                <span>Декабрь 26, 2018 в 14:56</span>
                                            </li>
                                        </ul>
                                        <p class="comment">Спасибо за интересную статью!
                                            Мне всегда было интересно, как некоторые художники так
                                            быстро создают свои картины. Теперь я понимаю,
                                            что правильная организация студии важна для этого
                                            процесса.
                                        </p><a class="author-reply" href="#">
                                            <div class="icon mdi mdi-reply"></div>
                                        <span>Ответить</span>
                                        </a>
                                    </div>
                                </div>
                                <ul class="comment-list-reply">
                                    <li>
                                        <div class="box-comment">
                                            <div class="box-comment-image">
                                                <img
                                                src="{% static 'images/box-comment-2-80x80.jpg' %}"
                                                alt="" width="80" height="80"></div>
                                            <div class="box-comment-body">
                                                <ul class="list-inline-3">
                                                    <li>
                                                        <h5><a class="heading-link" href="#">
                                                            Светлана Мельникова</a></h5>
                                                    </li>
                                                    <li class="comment-meta">
                                                        <span>Декабрь 26, 2018 в 15:23</span></li>
                                                    <li class="comment-meta">
                                                        <div class="reply-author">
                                                            <div class="icon mdi mdi-reply">
                                                            </div><span>Игорю Сырову</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <p class="comment">Я рада, что мой пост оказался
                                                    для вас полезным. Собираюсь публиковать советы
                                                    по организации студии художника в ближайшее
                                                    время, так что следите за обновлениями...</p>
                                                <a class="author-reply" href="#">
                                                    <div class="icon mdi mdi-reply"></div>
                                                    <span>Ответить</span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="post-section">
                        <h4>Отправить комментарий</h4>
                        <div class="divider divider-5"></div>
                        <!-- RD Mailform-->
                        <form class="rd-mailform text-left" data-form-output="form-output-global"
                            data-form-type="forms" method="post" action="bat/rd-mailform.php">
                            <div class="range range-xs-center range-21 range-fix">
                                <div class="cell-sm-6">
                                    <div class="form-wrap form-wrap-validation">
                                        <label class="form-label rd-input-label" for="forms-name">
                                            Имя
                                        </label>
                                        <input class="form-input" id="forms-name" type="text"
                                               name="name" data-constraints="@Required">
                                    </div>
                                </div>
                                <div class="cell-sm-6">
                                    <div class="form-wrap form-wrap-validation"><label
                                            class="form-label rd-input-label"
                                            for="forms-last-name">Фамилия</label>
                                        <input class="form-input" id="forms-last-name" type="text"
                                               name="last-name" data-constraints="@Required"></div>
                                </div>
                                <div class="cell-sm-6">
                                    <div class="form-wrap form-wrap-validation">
                                        <label class="form-label rd-input-label" for="forms-phone">
                                            Телефон
                                        </label>
                                        <input class="form-input" id="forms-phone" type="text"
                                               name="phone" data-constraints="@Numeric @Required">
                                    </div>
                                </div>
                                <div class="cell-sm-6">
                                    <div class="form-wrap form-wrap-validation">
                                        <label class="form-label" for="forms-email">E-mail</label>
                                        <input class="form-input" id="forms-email" type="email"
                                               name="email" data-constraints="@Email @Required">
                                    </div>
                                </div>
                                <div class="cell-sm-12">
                                    <div class="form-wrap form-wrap-validation"><label
                                            class="form-label rd-input-label"
                                            for="forms-message">Сообщение</label>
                                        <textarea class="form-input" id="forms-message"
                                                  name="message" data-constraints="@Required">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-button"> <button class="button button-primary"
                                    type="submit"><span>Отправить</span></button> </div>
                        </form>
                    </div>
                </article>
            </div>
            <script>
                let blog_post_url = '{% url 'single-post' 't1' %}'.replace('t1', '').slice(0, -1);
            </script>
            <div class="cell-sm-10 cell-md-4">
                <div class="widget-list">
                    {% get_search %}
                    {% get_category %}
                    {% get_archive previous_years=3 %}
                    {% get_gallery %}
                    {% get_latest_posts %}
                    {% get_about_me %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}